<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseServerAdress" value="192.168.178.57" />
    <add key="DatabaseName" value="KeyStore" />
    <add key="DatabaseUsername" value="keyswapper" />
    
    <add key="DatabaseTableName_Keys" value="ServerKeys" />
    <add key="DatabaseFieldName_ServerID" value="ServerID" />
    <add key="DatabaseFieldName_Hostname" value="Hostname" />
    <add key="DatabaseFieldName_Username" value="Username" />
    <add key="DatabaseFieldName_PublicKey" value="PublicKey" />
    <add key="DatabaseFieldName_PrivateKey" value="PrivateKey" />
    <add key="DatabaseFieldName_Passphrase" value="Passphrase" />
    <add key="DatabaseFieldName_Password" value="Password" />
    <add key="DatabaseFieldName_JumphostIP" value="JumphostIP" />
    <add key="DatabaseFieldName_LastChanged" value="LastChanged" />

    <add key="DatabaseTableName_Data" value="ServerData" />
    <add key="DatabaseFieldName_DataServerID" value="ServerID" />
    <add key="DatabaseFieldName_DataDNS4" value="DNS4" />




    <add key="SimultaneousConnections" value="25" />
    
    <add key="SaveKeyOnSwap" value="true" />
    <add key="SaveKeyDirPath" value="C:\root\keys" />
    <add key="SaveKeyInPuttyFormat" value="false" />
  </appSettings>
</configuration>